<div class="card">
  <div class="card-header">
    <h5>Upload Price Feed</h5>
  </div>

  <div class="card-body table-responsive">
    <div class="row mt-3">
      <div class="col">
        <form>
          <div class="row">
            <div class="col-sm-4">
              <label class="mb-1">
                Select File
              </label>
            </div>

            <div class="col-sm-8">
              <div class="mb-1">
                <input class="form-control" type="file" accept=".csv" (change)="handelChange($event)" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
